# Database Connection
DATABASE_URL=

# PostgreSQL Configuration
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis Connection
REDIS_URL=

# Redis Configuration
REDIS_PORT=
REDIS_PASSWORD=
REDIS_ARGS=

# Better Auth
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# GitHub Secret
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

# Google Secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

# Microsoft Secret
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URL=
MICROSOFT_TENANT_ID=

# Resend Email
RESEND_API_KEY=
